<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Estudiante</title>
</head>
<body>
<h2>Agregar Estudiante</h2>

<form th:action="@{/estudiantes}" th:object="${estudiantes}" method="post">
    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut" th:field="rut" required>

    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" name="nombres" th:field="nombres" required>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" th:field="apellidos" required>

    <label for="tipoColegio">Tipo de Colegio:</label>
    <input type="text" id="tipoColegio" name="tipoColegio" th:field="tipo_colegio" required>

    <label for="nombreColegio">Nombre del Colegio:</label>
    <input type="text" id="nombreColegio" name="nombreColegio" th:field="nombre_colegio" required>

    <label for="anoEgreso">Año de Egreso:</label>
    <input type="number" id="anoEgreso" name="anoEgreso" th:field="ano_egreso" required>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" th:field="fecha_nacimiento" required>

    <button type="submit">Guardar Estudiante</button>
</form>
</body>
</html>
