<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
<!-- Contenido de la página -->
<h2>Lista de Estudiantes</h2>

<!-- Tabla para mostrar la lista de estudiantes -->
<table border="1">
    <thead>
    <!-- Encabezados de la tabla -->
    <tr>
        <th>RUT</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Fecha de Nacimiento</th>
        <th>Tipo de Colegio</th>
        <th>Nombre del Colegio</th>
        <th>Año de Egreso</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utiliza Thymeleaf para iterar sobre la lista de estudiantes -->
    <tr th:each="estudiante : ${estudiantes}">
        <!-- Celdas de la tabla con datos del estudiante -->
        <td th:text="${estudiante.rut}"></td>
        <td th:text="${estudiante.nombres}"></td>
        <td th:text="${estudiante.apellidos}"></td>
        <td th:text="${#dates.format(estudiante.fechaNacimiento, 'dd/MM/yyyy')}"></td>
        <td th:text="${estudiante.tipoColegio}"></td>
        <td th:text="${estudiante.nombreColegio}"></td>
        <td th:text="${estudiante.anoEgreso}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

